table {
  width: 100%;
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.container {
  height: 85vh;
}

.info {
  padding: 2em;
  height: 20vh;
}

.transactions {
  margin-top: 2vh;
  height: 57vh;
}

mat-card-header {
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

p {
  margin-left: 16px;
}

.basic {
  background-color: gray;
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
