.mat-dialog-title {
  text-align: center;
}

mat-dialog-content * {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

mat-dialog-actions * {
  margin: 0 1%;
}
